/* for whole webpage*/
/* Setup margin, padding, background color, of each web page*/
body{
	margin: 0;
	font-family: "Helvetica", sans-serif;
	font-size: 22px;
	color: seashell;
	text-align: center;
	opacity: 0.9;
	background-color: black;
}


/* header part of webpage, initialize the height and width of header*/
header{
	width: 100%;
	position: fixed;
	height: 69px;
	background-color: black;
	border-bottom: 1px solid seashell;
	align-items: center;
}

/* in class 'container' to use flex for displaying and positioning*/
.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


/* All the different heading get same padding and margin*/
h2, h3, h4{
	margin: 0;
	padding: 10px;
}
/* setup the size, and padding for 'logo image' on top left corner */
header img{
	height: 50px;
	padding-left: 10px;
}

/* navigation menu setup at upper right corner*/
nav{
	text-align: right;
	flex-grow: 1;
}

/* setup the way it should display and setup the space between each word*/
nav span{
	display: inline-block;
	padding: 20px 10px;
}


/* setup color of text of naviagtion bar and made each word under line*/
a{
	color: white;
	text-decoration: underline;
}

/* id=mission Body*/

/* body of our mission page*/
.middleSection{
	padding-top: 69px;
	width: 1200px;
	margin: auto;

}

/* setup height, background and padding for middle section*/
#mission{
	height: 700px;
	padding-top: 70px;
	background-image: url(../../resources/images/img-mission-background.jpg);
	margin-bottom: 0;
}

/* area where  the 'our Mission' text goes*/
.pageMissionBody{
	background-color: black;
	width: 100%;
	margin: auto;
}
/* id=featuredTea Section*/
/* setup background heigth, width, padding , and margin for featuredTea navigation menu*/
#featuredTea{
	padding-top: 70px;
	height: 700px;
	width: 1000px;
	margin: auto;
}

/* 'box' class represent to each picture, and <span> seaction of featuredTea*/
.box{
	padding: 5px;
}


/* shrinking the size of images, so they arranged in two coloumns */
.box img{
	height: 200px;
	width: 300px;
	display: block;
	margin: 10px;
}

/* each <span> tag diplay next to their respective img tag*/
.box span{
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

/* body of location section*/
/* id=locations Section*/
/* setup background heigth, width, padding , and margin for locations navigation menu*/
#locations{
	padding-top: 70px;
	background-image: url(../../resources/images/img-locations-background.jpg);
	height: 500px;
	margin: auto;
}

/* padding for all column conatiners*/
.container.locations{
	padding-top: 5px;
}

/* each box of location size and arrangement as coulumn*/
.location{
	opacity: 1.0;
	margin: 5px 20px;
	background-color: black;
	flex-basis: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/** contacts */
.contacts{
	height: 200px;
	width: 1200px;
}



/*footer*/
footer{
	text-align: left;
	padding-left: 20px;
}